@charset "UTF-8";
:root {
  --bs-white: #fff;
  --bs-dark: #173c52;
  --bs-dark-rgb: 23, 60, 82;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
}

body {
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

::-webkit-file-upload-button {
  font: inherit;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  padding-right: auto;
  padding-left: auto;
}

.row {
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.table-borderless > :not(:first-child) {
  border-top-width: 0;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}

.form-control:focus {
  background-color: #fff;
  border-color: rgba(var(--bs-dark-rgb)) !important;
  box-shadow: 0 0 0 0.25rem rgba(20, 54, 105, 0.25);
}

.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #dde0e3;
}

.form-select-sm {
  border-radius: 0.2rem;
}

.form-select-lg {
  border-radius: 0.3rem;
}

.btn-secondary {
  background-color: rgba(var(--bs-dark-rgb)) !important;
  border-color: rgba(var(--bs-dark-rgb)) !important;
}
.btn-secondary:hover {
  background-color: rgba(var(--bs-dark-rgb)) !important;
  border-color: rgba(var(--bs-dark-rgb)) !important;
}
.btn-check:focus + .btn-secondary,
.btn-secondary:focus {
  background-color: rgba(var(--bs-dark-rgb)) !important;
  border-color: rgba(var(--bs-dark-rgb)) !important;
  box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}
.btn-check:checked + .btn-secondary,
.btn-check:active + .btn-secondary,
.btn-secondary:active,
.btn-secondary.active,
.show > .btn-secondary.dropdown-toggle {
  background-color: rgba(var(--bs-dark-rgb)) !important;
  border-color: rgba(var(--bs-dark-rgb)) !important;
}
.btn-check:checked + .btn-secondary:focus,
.btn-check:active + .btn-secondary:focus,
.btn-secondary:active:focus,
.btn-secondary.active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(23, 60, 82, 0.5);
}
.btn-secondary:disabled,
.btn-secondary.disabled {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary {
  color: rgba(var(--bs-dark-rgb));
  border-color: rgba(var(--bs-dark-rgb));
}
.btn-outline-secondary:hover {
  background-color: rgba(var(--bs-dark-rgb));
  border-color: rgba(var(--bs-dark-rgb));
}
.btn-check:focus + .btn-outline-secondary,
.btn-outline-secondary:focus {
  
  box-shadow: 0 0 0 0.25rem rgba(23, 60, 82, 0.5);
}
.btn-check:checked + .btn-outline-secondary,
.btn-check:active + .btn-outline-secondary,
.btn-outline-secondary:active,
.btn-outline-secondary.active,
.btn-outline-secondary.dropdown-toggle.show {
  
  background-color: rgba(var(--bs-dark-rgb));
  border-color: rgba(var(--bs-dark-rgb));
}
.btn-check:checked + .btn-outline-secondary:focus,
.btn-check:active + .btn-outline-secondary:focus,
.btn-outline-secondary:active:focus,
.btn-outline-secondary.active:focus,
.btn-outline-secondary.dropdown-toggle.show:focus {
  
  box-shadow: 0 0 0 0.25rem rgba(23, 60, 82, 0.5);
}
.btn-outline-secondary:disabled,
.btn-outline-secondary.disabled {
  color: rgba(var(--bs-dark-rgb));
}

.collapsing.collapse-horizontal {
  width: 0;
  height: auto;
  transition: width 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing.collapse-horizontal {
    transition: none;
  }
}

.dropdown-menu {
  position: absolute;
  color: rgba(var(--bs-dark-rgb));
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #131414;
  background-color: #3f7fbe;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  background-color: #556e94;
}
.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #404549;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu-dark {
  color: #fff;
  background-color: rgba(var(--bs-dark-rgb));
  border-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.nav-link {
  color: #fff;
  padding: 0.1rem 0.3rem;
}
@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #2261a0;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #000000;
}

.sublink a {
  color: #9e9e9e !important;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.sublink a:hover {
  color: rgb(255, 255, 255, 0.75) !important;
}

.navbar-expand .offcanvas-header {
  display: none;
}
.navbar-expand .offcanvas {
  position: inherit;
  bottom: 0;
  z-index: 1000;
  flex-grow: 1;
  visibility: visible !important;
  background-color: transparent;
  border-right: 0;
  border-left: 0;
  transition: none;
  transform: none;
}
.navbar-expand .offcanvas-top,
.navbar-expand .offcanvas-bottom {
  height: auto;
  border-top: 0;
  border-bottom: 0;
}
.navbar-expand .offcanvas-body {
  display: flex;
  flex-grow: 0;
  padding: 0;
  overflow-y: visible;
}

.card {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin: 20px 10px;
}

.card-footer {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}



.card-body {
  transition: color 0.15s ease-in-out, background-image 1s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #f8f9fa;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card-body:hover {
  flex: auto;
  opacity: 1;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: rgba(var(--bs-dark-rgb));
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,    border-radius 0.15s ease;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,    border-radius 0.15s ease;
  -moz-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,    border-radius 0.15s ease;
  -ms-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,    border-radius 0.15s ease;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,    border-radius 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {
  .accordion-button {
    transition: none;
  }
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: rgba(var(--bs-dark-rgb));
  box-shadow: inset 0 -1px 0 rgba(23, 60, 82, 0.125);
  opacity: 0.8;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .accordion-button::after {
    transition: none;
  }
}

.accordion-button:hover {
  z-index: 2;
}

.accordion-button:focus {
  z-index: 3;
  border-color: rgba(var(--bs-dark-rgb));
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(23, 60, 82, 0.3);
}

.accordion-header {
  margin-bottom: 0;
}

.accordion-item {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.accordion-item:first-of-type {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.accordion-item:not(:first-of-type) {
  border-top: 0;
}

.accordion-item:last-of-type {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.accordion-item:last-of-type .accordion-collapse {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.accordion-body {
  padding: 1rem 1.25rem;
}

.accordion-flush .accordion-collapse {
  border-width: 0;
}

.accordion-flush .accordion-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.accordion-flush .accordion-item:first-child {
  border-top: 0;
}

.accordion-flush .accordion-item:last-child {
  border-bottom: 0;
}

.accordion-flush .accordion-item .accordion-button {
  border-radius: 0;
}

.offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.offcanvas-backdrop.fade {
  opacity: 0;
}
.offcanvas-backdrop.show {
  opacity: 0.5;
}

.ratio-1x1 {
  --bs-aspect-ratio: 100%;
}

.ratio-4x3 {
  --bs-aspect-ratio: 75%;
}

.ratio-16x9 {
  --bs-aspect-ratio: 56.25%;
}

.ratio-21x9 {
  --bs-aspect-ratio: 42.8571428571%;
}

.hstack {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
}

.vstack {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-self: stretch;
}

.vr {
  display: inline-block;
  align-self: stretch;
  width: 1px;
  min-height: 1em;
  background-color: currentColor;
  opacity: 0.25;
}

/* rtl:end:remove */

.text-light {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}

.text-dark {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.text-black {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-black-rgb), var(--bs-text-opacity)) !important;
}

.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.text-body {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-body-color-rgb), var(--bs-text-opacity)) !important;
}

.text-reset {
  --bs-text-opacity: 1;
  color: inherit !important;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.bg-black {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important;
}

.bg-white {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}

.bg-body {
  --bs-bg-opacity: 1;
  background-color: rgba(
    var(--bs-body-bg-rgb),
    var(--bs-bg-opacity)
  ) !important;
}

.bg-transparent {
  --bs-bg-opacity: 1;
  background-color: transparent !important;
}

.rounded-4 {
  border-radius: 0.5rem !important;
}

.rounded-5 {
  border-radius: 1rem !important;
}

.info {
  height: 600px;
}

body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
  height: 100%;
  width: 100%;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(17, 42, 56, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(30px);
  backdrop-filter: saturate(180%) blur(30px);
  height: 100px;
  width: 100%;
  top: 0;
  padding: 0;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.site-header a {
  color: #e0e0e0;
  transition: color 0.15s ease-in-out;
  text-decoration: none;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.lead{
  line-height: 2rem;
}

.dijitalA{
  color: #173e52;
  font-weight: 500;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}

.form-check-input:checked{
  background-color: #173e52;
  border-color: #173e52;
}

@media (min-width: 900px) {
  .d-md-flex > * {
    flex: 1;
  }
}

@media (max-width: 7px) {
  .md > * {
    display: none;
  }
}

@media (max-width: 245px) {
  .toggle > * {
    display: none;
  }
}

@media (min-width: 992px) {
  .container-header {
    max-width: 1000px;
  }
}

.fiyat {
  width: 100% !important;
  padding-bottom: 0rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.fiyatKart {
  padding-top: 2rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  padding-bottom: 1rem !important;
  text-align: left !important;
  margin: 0rem 0.5rem 0rem 0.5rem !important;
}

.fiyatKartCenter {
  padding-top: 2rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  padding-bottom: 1rem !important;
  text-align: left !important;
}

.fiyatKart:hover {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.paketAdı {
  font-weight: 700;
  font-size: 2.5rem;
  color: rgba(var(--bs-dark-rgb)) !important;
}

.paketFiyat {
  font-weight: 400;
  font-size: 2.5rem;
  cursor: pointer;
  color: rgba(var(--bs-white-rgb)) !important;
  display: flex;
  flex: 0 1 auto;
}

.paketFiyat:hover {
  font-weight: 400;
  font-size: 2.5rem;
  cursor: pointer;
  color: #bbb !important;
  display: flex;
  flex: 0 1 auto;
}

.paketFiyat2 {
  font-weight: 400;
  font-size: 2.5rem;
  color: rgba(var(--bs-dark-rgb)) !important;
}

.paketFiyatEski {
  font-weight: 600;
  font-size: 1.5rem;
}

.paketKdvEski {
  font-size: 1.5rem;
  color: #6c757d !important;
  font-weight: 300;
}

.paketFiyatBox {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  border-top: 1px solid #dee2e6 !important;
  border-bottom: 1px solid #dee2e6 !important;
  align-items: center;
}

.paketAciklama {
  margin-top: 1rem !important;
  margin-bottom: 1.5rem !important;
  padding-left: 0;
  list-style: none;
}

.paketAciklama2 {
  margin-top: 1rem !important;
  margin-bottom: 1.5rem !important;
  padding-left: 0;
  list-style: none;
  font-weight: 400;
}

.paketKdv {
  font-size: 2rem;
  color: #6c757d !important;
  font-weight: 300;
}

.araBaslik {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: center !important;
  margin: 3rem !important;
}

#teklif-link {
  text-decoration: none;
}

#uactive {
  color: rgb(255, 255, 255, 1) !important;
}

.bg-down {
  background-image: linear-gradient(0deg, #ffffff 0%, #f8f9fa 100%);
}

.border-hvr:hover {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.border-hvr1:hover {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}

.border-hvr2:hover {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.border-hvr3:hover {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.small {
  height: auto;
}

.up {
  transform: translateY(-600px);
  -webkit-transform: translateY(-600px);
  -moz-transform: translateY(-600px);
  -ms-transform: translateY(-600px);
  -o-transform: translateY(-600px);
}

.bg-up {
  background-image: linear-gradient(0deg, #f8f9fa 0%, #ffffff 100%);
}

.height-2 {
  max-height: 50%;
}

.baslangic-bg {
  background: url(images/paket1.png) no-repeat center;
  background-size: cover;
  height: 312px;
  width: 236px;
  position: relative;
}

.gelisim-bg {
  background: url(images/paket2.png) no-repeat center;
  background-size: cover;
  height: 312px;
  width: 236px;
  position: relative;
}

.profesyonel-bg {
  background: url(images/paket3.png) no-repeat center;
  background-size: cover;
  height: 312px;
  width: 236px;
  position: relative;
}

.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 400px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 400px;
}

.gmap_iframe {
  height: 400px !important;
}


/*# Referance filter #*/
.filterDiv {

  display: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

.filterDiv:hover {
  transform: scale(0.96);
  -webkit-transform: scale(0.96);
  -moz-transform: scale(0.96);
  -ms-transform: scale(0.96);
  -o-transform: scale(0.96);
  background-color: rgba(var(--bs-dark-rgb)) !important;
}

.refBox{
  position: relative;
  width: 49.75%;
  padding: 0.5rem;
  transition: .5s ease;
}

.refImage {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
}

.refHover {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.refBox:hover .refImage {
  opacity: 1;
}

.refBox:hover .refHover {
  opacity: 1;
}

.refText {
  background-color: #173e52;
  color: white;
  top: 50%;
  font-size: 30px;
  padding: 16px 32px;
  transform: 0.5s  ease;
  -webkit-transform: 0.5s  ease;
  -moz-transform: 0.5s  ease;
  -ms-transform: 0.5s  ease;
  -o-transform: 0.5s  ease;
}


/*# Referances & Partners #*/
#byInciPastanesi:hover{
  width: 100%;
  height: auto;
  background-color: #000;
}





.show {
  display: inline-block;
}

/* Style the buttons */
.btn-filter {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn-filter:hover {
  background-color: #ddd;
}

.btn-filter.active {
  background-color: rgba(var(--bs-dark-rgb)) !important;
  color: white;
}

#ekip {
  padding-top: 2%;
  padding-bottom: 5%;
}

.ekip-isim {
  color: black;
}

.ekip-unvan {
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  color: black;
}

.ekip-mail {
  font-weight: 600;
  color: #0000ff;
}
.ekip-mail:hover {
  color: #004080;
}

.ekip-resim {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

#hakkimizda-galeri {
  background-color: #fff;
}

#biz {
  padding-bottom: 4%;
}

.lightbox {
  display: none;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.imgFull {
  width: 90%;
  height: 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-top: 2%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.labelImg {
  padding: 5px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  border-radius: 1rem;
  transition: 1s;
  border: 5px solid white;
}

.labelImg:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(0.95);
  transform: scale(1.05);
}

section {
  margin-top: 5%;
  margin-bottom: 5%;
}

#logo {
  margin-left: 30px;
}

.blog-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.blog-head {
  display: flex;
  flex: 0 1 auto;
  align-items: flex-end;
  font-size: 2rem;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
  font-weight: 600 !important;
  line-height: 3.5rem !important;
  margin-top: 1rem !important;
  margin-bottom: 0rem !important;
  text-decoration: underline;
}

.blog-head-p{
  font-size: 1.4rem;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-black-rgb)) !important;
  font-weight: 400 !important;
  line-height: 2rem !important;
  padding: 0.3rem 1rem 0.3rem 1rem;
}

.blog{
  font-family: 'Times New Roman', Times, serif;
  padding: 1rem 20%;
}

.blogYazi{
  display: flex;
  flex: 0 1 80%;
  flex-direction: column;
  padding: 2rem 2rem 2rem 2rem;
  margin: 0rem 1rem 0rem 1rem;
}

.blogMain{
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem 0.5rem 1rem 1rem;
  padding: 0rem;
}

.blogMainR{
  display: flex;
  flex: 0 1 auto;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0rem 0.5rem 1rem 1rem;
  padding: 0rem;
}

.blogMainNav{
  display: flex;
  flex: 0 1 35%;
  padding: 3rem 1rem 0rem 1.5rem;
  margin: 0rem 1rem 1rem 0.5rem;
  flex-direction: column;
}

.blogMainSol{
  display: flex;
  flex: 0 1 58%;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.blogMainSag{
  display: flex;
  flex: 0 1 40%;
  justify-content: center;
  overflow: hidden;
}

.blogMainHead{
  display: flex;
  flex: 0 1 auto;
  font-size: 2.5rem;
  font-weight: 600;
  color: rgba(var(--bs-dark-rgb)) !important;
  padding-left: 0.5rem;
}


.blogMainP{
  display: flex;
  flex: 0 1 auto;
  font-size: 1.3rem;
  padding-left: 0.5rem;
}

.blogMainLink{
  color: rgba(var(--bs-dark-rgb)) !important;
  font-size: 1.2rem;
  font-weight: 500;
  padding-left: 0.5rem;
}
.blogMainLink:hover{
  font-weight: 600;
}

.blogh2{
  display: flex;
  flex: 0 1 auto;
  font-size: 5rem;
  font-weight: 900;
  color: rgba(var(--bs-dark-rgb));
  padding: 2rem 1rem 1rem 2rem;
}

.blogh3{
  display: flex;
  flex: 0 1 auto;
  font-size: 3rem;
  font-weight: 900;
  color: rgba(var(--bs-gray-dark));
  padding: 1.5rem 1rem 0rem 3rem;
}

.blogh4{
  display: flex;
  flex: 0 1 auto;
  font-size: 2  rem;
  font-weight: 700;
  color: rgba(var(--bs-gray-dark));
  padding: 1rem 1rem 0rem 2rem;
  line-height: 1rem !important;
}

.blog-p{
  font-size: 1.4rem;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-black-rgb)) !important;
  font-weight: 400 !important;
  line-height: 2.5rem !important;
  padding: 0.3rem 1rem 0.3rem 1rem;
}

.blog-list{
  font-size: 1.4rem;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-black-rgb)) !important;
  font-weight: 400 !important;
  line-height: 2.5rem !important;
  padding: 0.3rem 1rem 0.3rem 2rem;
  list-style-type: disc;
}

.blogSlogan{
  font-family: 'Times New Roman', Times, serif;
  color: rgba(var(--bs-dark-rgb)) !important;
  font-size: 5rem;
  font-weight: 600;
  color: #000;
}

.blogAltSlogan{
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  font-weight: 600;
  color: #000;
}

.blogNav{
  display: flex;
  flex: 0 1 25%;
  padding: 3rem 1rem 0rem 1.5rem;
  margin: 0rem 1rem 0rem 0rem;
  flex-direction: column;
}



.blogNavMenu{
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  line-height: 2.5rem;
  justify-content: start;
}

.blogLink{
  color: rgba(var(--bs-dark-rgb)) !important;
  font-weight: 600;
  padding-left: 1rem;
}

.blogInsideLink{
  color: rgba(var(--bs-dark-rgb)) !important;
  font-weight: 600;
}

.blogNavBaslik{
  padding-top: 1.3rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(var(--bs-dark-rgb)) !important;
}

.blogNavBreadcrumb{
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  line-height: 2.5rem;
  justify-content: start;
  list-style-type: disc;
  padding-left: 2rem;
}

.blogResimContainer{
  display: flex;
  flex: 0 1 auto;
  margin: 1rem 0rem 1rem 0rem;
  flex-direction: row;
}

.blogResimSol{
  display: flex;
  flex: 0 1 50%;
  padding: 0.5rem;
}

.blogForm{
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  padding: 1rem;
}

.blogResimSag{
  display: flex;
  flex: 0 1 50%;
  margin: 0.5rem;
}

.blogYaziResim{
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.blogNavitem{
  display: flex;
  flex: 0 1 auto;
  justify-content: start;
  font-size: 1.1rem;
  font-weight: 500;
}

.blogNav a:hover{
  text-decoration: underline;
}

.blogNav a{
  text-decoration: none;
}

.blogMainNav a:hover{
  text-decoration: underline;
}

.blogMainNav a{
  color: #000;
  text-decoration: none;
}
.post {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.blog-resim {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
}

.biz{
  margin: 1rem 0rem 1rem 0rem;
  font-size: 1.4rem;
  font-weight: 300;
}

.bizList{
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  margin: 0.8rem 0rem 0.8rem 0rem;
  font-size: 1rem;
  font-weight: 300;
}


.bizResim{
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: auto;
  width: 100%;

}

.socialMedia{
  list-style: none;
  display: flex;
}

.socialMediaIcons{
  display: flex;
  flex: 0 1 20%;
  justify-content: left;
  align-items: flex-end;
  width: 100%;
  height: 48px;
}

.socialMediaIcons a{
  color: rgba(var(--bs-dark-rgb)) !important;
}

.blogResim{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 350px;
  overflow: hidden;
}

.blogSol{
  display: flex;
  flex: 0 1 100%;
  justify-content: center;
  align-items: center;
  padding: 0%;
  background-color: rgb(238, 238, 238);
  border-top-left-radius: 1rem;
  border-top-right-radius: 0rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 0rem;
}

.blogSag{
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  justify-content: center;
  padding: 1% 2% 2% 4%;
  background-color: rgba(var(--bs-light-rgb));
  border-top-left-radius: 0rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 1rem;
}




@media (max-width: 991px) {
  .blogSol {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
  }

  .blogSag {
    
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

.container-header {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.head-nav {
  padding-left: auto;
  padding-right: auto;
  display: inline-block;
}

hr {
  color: #fff;
  opacity: 1;
  margin: 0 0 0 0;
}

.logo-footer {
  width: 200px;
  margin-bottom: 3%;
}

.link-secondary {
  color: gray;
}

.underline {
  text-decoration: underline;
}

.baslik {
  font-weight: 700;
  background-color: #fff;
  flex: 0 1 auto;
  flex-basis: 34%;
  border-bottom: solid 0.5px #ddd;
  margin: 0.5rem 0rem;
  --bs-text-opacity: 1;
  color: #000;
  padding-left: 0.7rem;
  padding-bottom: 1rem;
}

.item {
  text-align: center;
  background-color: #fff;
  flex: 0 1 auto;
  flex-basis: 22%;
  margin: 0.5rem 0rem;
  border-bottom: solid 0.5px #ddd;
  padding-bottom: 0.8rem;
}

.itemTek {
  text-align: center;
  background-color: #fff;
  flex: 0 1 auto;
  flex-basis: 100%;
  margin: 0.5rem 0rem;
  border-bottom: solid 0.5px #ddd;
  padding-bottom: 0.8rem;
}

.anaBaslik {
  font-weight: 700;
  background-color: #fff;
  flex: 0 1 auto;
  flex-basis: 34%;
  border-bottom: solid 2px #000;
  margin: 0.5rem 0rem;
  --bs-text-opacity: 1;
  color: #000;
  padding-left: 0.5rem;
  padding-bottom: 0.4rem;
}

.anaItem {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  background-color: #fff;
  flex: 0 1 auto;
  flex-basis: 22%;
  margin: 0.5rem 0rem;
  border-bottom: solid 2px #000;
  padding-bottom: 0.4rem;
}

.anaItemTek {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  background-color: #fff;
  flex: 0 1 auto;
  flex-basis: 100%;
  margin: 0.5rem 0rem;
  border-bottom: solid 2px #000;
  padding-bottom: 0.4rem;
}

.fa-xmark{
  color: #aaa;
}

.fa-check, .fa-check-double {
  color: #000;
}


.paketAciklamaContainer{
  position: relative !important;
  padding-top: 1rem !important;
  text-align: center !important;
}

.paketAciklamaBaslik{
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
}

.paragraf{
  padding: 1.5rem;
  width: 80%;
  margin: auto;
}

.paketAciklamaResim{
  width: 40%;
  margin: auto;
  padding: 1rem;
}

.paketAciklamaParagraf{
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  flex: 0 1 auto;
  margin: 0.5rem 0rem;
  padding-bottom: 0.4rem;
}

.slider{
  display: flex;
  height: 600px;
  align-items: center;
  justify-content: center;
  margin: 0rem 0rem 1rem 0rem !important;
}
.slider2{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 0rem 1rem 0rem !important;
}

.slogan{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 1rem 1rem 1rem;
  padding: 1.5rem;
}


.sliderBG{
  height: 100%;
  width: 100%;
  background-size: cover;
  z-index: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: url(#blur);
    overflow: hidden;
}

.sliderBG2{
  background-image: url(img/genel-slider.png);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: url(#blur);
    overflow: hidden;
}


.dijitalisyerim{
  font-weight: 700;
  color: rgba(var(--bs-dark-rgb));
}

.sliderSlogan{
font-weight: 300;
font-size: 3rem;
z-index: 10;
flex: 0 1 auto;
justify-content: center;
margin: auto;
}

.sliderAltSloganMain{
  font-weight: 300;
  font-size: 3.5rem;
}

.blogNav a{
  color: #000;
}


.sliderAltSlogan{
  font-size: 1.3rem;
  font-weight: 400;
  color: gray;
  text-align: center;
  flex: 0 1 auto;
  margin: 0.5rem 0rem;
  padding-bottom: 0.4rem;
}

.sliderAltSloganBlog{
  font-family: 'Times New Roman', Times, serif;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  flex: 0 1 auto;
  margin: 0.5rem 0rem;
  padding-bottom: 0.4rem;
}

.sliderCenter{
  z-index: 10;
  position: absolute;
}

.sliderLeft{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 0 1 30%;
  transform: rotate(-45deg) scale(0.85);
  -webkit-transform: rotate(-45deg) scale(0.85);
  -moz-transform: rotate(-45deg) scale(0.85);
  -ms-transform: rotate(-45deg) scale(0.85);
  -o-transform: rotate(-45deg) scale(0.85);
}

.sliderMainLeft{
  display: flex;
  align-items: center;
  justify-content: left;
  flex: 0 1 650px;
  padding-left: 5rem;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.sliderRight{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 30%;
  padding: 0rem 2rem 0rem 0rem;
  margin: 0rem;
  overflow: hidden;
}

.sliderMainRight{
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  justify-content: center;

  padding: 0rem 0rem 0rem 0rem;
}

.mainGrid{
  display: grid;
  grid-template: 1fr auto 1fr / auto auto;
  grid-template-areas: 
  "magaza vitrin"
  "gridSlogan gridSlogan"
  "cadde musteri";
  grid-gap: 1rem;
  margin: 0rem;
  padding: 0rem 1rem 1rem 1rem;
  background: linear-gradient(180deg,#FFF 5%, #173e52 35%, #173e52 65%, #FFF 95%);
}
.mainGridItem{
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  text-align: center;
  background-color: rgba(var(--bs-light-rgb));
  padding: 0rem 0rem 0rem 0rem;
  justify-content: space-between;
}
.mainGridItemTop{
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}
.mainGridItemBottom{
  display: flex;
  flex: 0 1 auto;
  align-items: flex-end;
  padding: 0rem 10%;
}
.mainGridItemMid{
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  justify-content: center;
}

.MainGridBaslik{
  display: flex;
  flex: 0 1 20%;
  font-size: 3.5rem;
  font-weight: 300;
  justify-content: center;
}

.MainGridAltBaslik{
  display: flex;
  flex: 0 1 15%;
  font-size: 1.4rem;
  font-weight: 600;
  justify-content: center;
}
.MainGridAciklama{
  display: flex;
  flex: 0 1 65%;
  flex-basis: auto 65%;
  font-size: 1.2rem;
  font-weight: 400;
  justify-content: center;
  color: #000;
}

.paketDonusumBaslik{
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
}

.paketDonusumAciklama{
  display: flex;
  flex: 0 1 auto;
  font-size: 1rem;
  font-weight: 400;
  justify-content: center;
  width: 550px;
  color: #000;

}

.paketGridBaslik{
  display: flex;
  flex: 0 1 20%;
  font-size: 2.5rem;
  font-weight: 500;
  justify-content: center;
  color: rgba(var(--bs-dark-rgb));
}
.paketGridAciklama{
  display: flex;
  flex: 0 1 auto;
  font-size: 1.2rem;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  margin: 0 0rem;
  padding: 0.5rem 0rem;
}

.paketGridLink{
  display: flex;
  flex: 0 1 20px;
  font-size: 1.2rem;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 7px 10px;
  margin: 0 ;
}

.MainGridMidAciklama{
  display: flex;
  flex: 0 1 auto;
  font-size: 2.5rem;
  font-weight: 300;
  padding: 0.1rem;
  margin: auto;
}

.magaza{
  grid-area: magaza;
}

.vitrin{
  grid-area: vitrin;
}

.gridSlogan{
  grid-area: gridSlogan;
}

.cadde{
  grid-area: cadde;
}

.musteri{
  grid-area: musteri;
}

.gridPaketler{
  display: grid;
  grid-template: auto / 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "e-ticaret sosyal-medya seo ads";
  grid-gap: 0rem 1rem;
  background: linear-gradient(#173e52 10%,  #FFF 100%);
}

.gridDonusumPaketItem{
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(#FFF 73%, #173e52 73%);
  padding: 0rem 0rem 0rem 0rem;
  margin: 0rem 0rem 0rem 0rem;
  justify-content: center;
}

.donusumCard{
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  width: 100%;
  height: 50%;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  padding: 0rem;
  margin: 0rem;
  position: absolute;
}

.othersCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 100%;
  z-index: 1;
  width: 100%;
  padding: 3rem 1rem 1rem 1rem;
  overflow: hidden;
}

.alignEnd{
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  height: 100%;
}

.donusumSol{
  display: flex;
  flex: 0 1 35%;

}

.donusumSag{
  display: flex;
  flex: 0 1 40%;
 
}

.gridPaketItem{
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  text-align: center;
  background-color: rgba(var(--bs-light-rgb));
  padding: 0rem 0rem 0rem 0rem;
  margin: 0rem 0rem 0rem 0rem;
  justify-content: space-between;
}

.donusum{
  grid-area: donusum;
  color: rgba(var(--bs-dark-rgb));
}

.ads{
  grid-area: ads;
}

.e-ticaret{
  grid-area: e-ticaret;
}

.sosyal-medya{
  grid-area: sosyal-medya;
}

.seo{
  grid-area: seo;
}







.site-headerMin {
  background-color: rgba(17, 42, 56, .85);
  -webkit-backdrop-filter: saturate(180%) blur(30px);
  backdrop-filter: saturate(180%) blur(30px);
  transition: all 500ms ease-in-out;
-webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
font-size: 0.7rem;
}

.site-headerMin a {
  transition: color .15s ease-in-out;
  text-decoration: none;
}


.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.65);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 1);
}

.blogTlink {
display: flex;
flex: 0 1 100%;

}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #173e52;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(17, 42, 56, 0.25);
}

.blogNews{
  margin: 0rem 1rem 1rem 0rem;
}

.defaultFont{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
}

.dijitalResim{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.absoluteDonusum{
  position: absolute;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 750px;
  padding: 0rem 35%;
  margin: auto;

 }

 .dijitalDonusum{
  width: 100%;
  height: 850px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(#FFF 73%, #173e52 73%);
}
.gridTop{
    height: 750px;
}

.alignEnd2{
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  height: 100%;
}

 .paketDonusumBaslik2{
  display: flex;
  flex: 0 1 10%;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
  color:rgba(var(--bs-dark-rgb));
  font-size: 4rem;
  font-weight: 300;
  width: 550px;
}

.paketDonusumAciklama2{
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  justify-content: center;
  width: 550px;
  color: #000;
}

.paketGridLink2{
  display: flex;
  flex: 0 1 10%;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  margin: 1rem;
}


.donusumCard{
  width: 100%;
  height: 50%;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  padding: 0rem;
  margin: 0rem;
  position: absolute;
}

.donusumSol2{
  display: flex;
  flex: 0 1 35%;
  padding: 0rem;
  margin: 0rem;
}

.donusumSag2{
  display: flex;
  flex: 0 1 45%;
  padding: 0rem;
  margin: 0rem;
}

.banner{
  display: flex;
  flex: 0 1 auto;
  height: 985px;
  width: 100%;
  align-items: center;
}

.bannerText{
  display: flex;
  flex: 0 1 auto;
  font-size: 4rem;
  font-weight: 300;
  flex-wrap: no-wrap;
}
.bannerText2{
  display: flex;
  flex: 0 1 auto;
  font-size: 2.3rem;
  font-weight: 300;
  flex-wrap: no-wrap;
}

.bannerSL {
  display: flex;
  background: #CFF;
  height:100%;
  width:100%;
  box-sizing:border-box;
}

.bannerContent{
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  width: auto;
}

.bannerContentSec{
  display: flex;
  flex: 0 1 50%;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
  width: auto;
}
.bannerContentLogo{
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  margin: 5%;
}

.bannerPic{
  display: flex;
  flex: 0 1 auto;
height: 700px;
width: auto;
}
.bannerPic2{
  height: 550px;
  width: auto;
}

.headBox{
  text-align: center;
  text-justify: center;
  padding: 1rem;
}

.headTitle{
  font-size: 4rem;
  font-weight: 300;
  color: rgba(var(--bs-dark-rgb));
}

.hidden{
  display: none;
}


@media (min-width: 991px) {
  .mobile{
    display: none;
  }
}

@media (max-width: 991px) {
  .desktop{
    display: none;
  }
}


@media (max-width: 425px) {
.headTitle{
  font-size: 2.5rem;
}
}


@media (max-width: 1600px) {
  .sliderAltSloganMain{
   font-size: 3rem;
 }
 .banner{
  height: 985px;
}

 .blog{
   padding: 1rem;
 }
 .sliderMainRight{
   display: flex;
   align-items: flex-end;
   flex: 0 1 40%;
   padding: 0rem 0rem 0rem 0rem;
   overflow: hidden;
 }
}











@media (max-width: 1440px) {
  .alignEnd{
    padding-top: 6.5rem;
}
.donusumCard{
  overflow: hidden;
  height: 55%;
}
.gridDonusumPaketItem{
  height: 600px;
}
.paketDonusumAciklama2{
  width: 450px;
}

.sliderMainLeft{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 30%;
  opacity: 1;
  padding: 0rem 0rem 0rem 2rem;
}
.slider{
  height: 500px;
}
.sliderMainRight{
  display: flex;
  align-items: flex-end;
  flex: 0 1 35%;
  padding: 0rem 0rem 0rem 0rem;
  overflow: hidden;
}
}




@media (max-width: 1200px) {
  .sliderMainLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 30%;
    opacity: 1;
    padding: 0rem 0rem 0rem 4rem;
  }
  .donusumCard{
    overflow: hidden;
    height: 65%;
  }
  .paketDonusumAciklama{
    width: 450px;
  }
  .paketDonusumAciklama2{
    width: 350px;
  }
  .absoluteDonusum{
    
    height: 750px;
  }
  .gridTop{
    height: 850px;
}
  .sliderMainRight{
    display: flex;
    align-items: flex-end;
    flex: 0 1 35%;
    padding: 0rem 0rem 0rem 0rem;
    overflow: hidden;
  }
  .slider{
    height: 350px;
  }
  .gridDonusumPaketItem{
    width: auto;
    height: 650px;
  }
}









@media (max-width: 991px) {
.nav-item{
  height: 100%;
  font-size: 1rem;
  padding: 0.2rem 0rem 0.2rem 1rem;
  margin-top: 0.5rem;
}
}


@media (max-width: 992px) {
  .navMin{
    position: relative;
    right: 20px;
  }
  .bannerPic{
    visibility: hidden;
    position: absolute;
  }
  .bannerPic2{
    visibility: hidden;
    position: absolute;
  }
  .bannerContentLogo{
    margin: 0rem;
    padding: 3% 1rem;
  }
   .bannerText{
    font-size: 3rem;
   }
  .blogResimContainer{
    flex-direction: column;
  }
  .donusumCard{
    overflow: hidden;
    height: 45%;
  }
 
  .paketDonusumAciklama{
    width: 400px;
  }
  .gridDonusumPaketItem{
    width: auto;
    height: 500px;
    margin-top: 5%;
  }
  .absoluteDonusum{
    height: 800px;
  }
  .gridTop{
    height: 800px;
  }
  .alignEnd2{    
    display: flex;
    flex: 0 1 0%;
    visibility: hidden;
  }

  


  .blogMain{
    flex-direction: column;
    margin: 0rem 0.5rem 1rem 0.5rem;
  }
  .blogMainSol{
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
  }
    .blogMainSag{
    display: flex;
    flex: 0 1 auto;
  }
  .sliderMainLeft{
    display: flex;
    flex: 0 1 30%;
    align-items: center;
    justify-content: center;
    opacity: 1;
    padding: 0rem;
  }
  
  
  .sliderMainRight{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 0 1 35%;
    padding: 0rem 0rem 0rem 0rem;
    overflow: hidden;
  }
  .sliderCenter {
    width: 300px;
  }

  .slider {
    height: 300px;
  }

  .sliderAltSloganMain{
    font-size: 1.7rem;
  }

  .mainGrid{
    display: grid;
    grid-template: 1fr 1fr auto 1fr 1fr / 1fr;
    grid-template-areas: 
    "magaza" "vitrin"
    "gridSlogan"
    "cadde" "musteri";
    grid-gap: 1rem;
    margin: 1rem;
  }

  .gridPaketler{
    display: grid;
    grid-template: auto auto auto auto / 1fr;
    grid-template-areas: 
    "e-ticaret" "sosyal-medya" "seo" "ads";
    margin: 0rem 0rem 1rem 0rem;
    grid-gap: 1rem;
    background: linear-gradient(#173e52 10%, #FFF 100%);
  }
}




@media (max-width: 767px) {
  .slider {
    height: 300px;
  }
  .sliderAltSloganMain{
    font-size: 2rem;
  }
  .sliderRight{
  visibility: hidden;
  }
  .sliderMainRight{
    visibility: hidden;
  }
.sliderLeft{
  opacity: 0.6;
  transform: rotate(-30deg) scale(1);
  -webkit-transform: rotate(-30deg) scale(1);
  -moz-transform: rotate(-30deg) scale(1);
  -ms-transform: rotate(-30deg) scale(1);
  -o-transform: rotate(-30deg) scale(1);
}
.sliderMainLeft{
  display: flex;
  flex: 0 1 30%;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  height: 300px;
  padding: 0rem;
}
.sliderMainRight{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 0 1 30%;
  padding: 0rem 2rem 0rem 0rem;
  overflow: hidden;
}
.blogYazi{
  padding: 1rem 1rem 1rem 0.5rem;
  margin: 0rem 1rem 0rem 1rem;
}
.blog-p{
  font-size: 1.4rem;
  line-height: 2.5rem !important;
  padding: 0.3rem 0rem 0.3rem 0rem;
}
.blogh2{
  font-size: 4rem;
  font-weight: 800;
  padding: 2rem 0.5rem 1rem 0.5rem;
  line-height: 4rem !important;
}
.blogh3{
  font-size: 2.5rem;
  font-weight: 700;
  padding: 1rem 0.5rem 0rem 1rem;
  line-height: 3rem !important;
}
.donusumCard{
  overflow: hidden;
  height: 65%;
}
.gridDonusumPaketItem{
  height: 750px;
}
.paketDonusumBaslik2{
  width: 100%;
  margin: 0rem 1rem 0rem 1rem;
}
.paketDonusumAciklama2{
  width: 400px;
  margin: 0rem 1rem 0rem 1rem;
}
.dijitalDonusum{
  height: 700px;
  background-image: linear-gradient(#FFF 75%, #173e52 75%);
}
.gridTop{
  height: 700px;
}
.absoluteDonusum{
  height: 700px;
}
.donusumSol{
  display: flex;
  flex: 0 1 0%;
  visibility: hidden;

  }
.donusumSag{
  visibility: hidden;
  display: flex;
  flex: 0 1 100%;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
}




@media (max-width: 425px) {
  .banner{
    height: 575px;
  }
  .bannerText{
font-size: 2rem;
  }
  .bannerContentLogo{
    height: auto;
  }
  .bannerSL{
    height: 575px;
  }
  .bannerContent{
    visibility: hidden;
  }
  .bannerPic{
    height: 200px;
  }
  .bannerLogo{
    width: 100%;
  }
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#128C7E;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.float:hover{
  color: #aaa;
}

.my-float{
	margin-top:16px;
}







@media (min-width: 320px) {
  .donusumCard{
   overflow: hidden;
   height: 85%;
 }
 .gridDonusumPaketItem{
   height: 800px;
   background-image: linear-gradient(#FFF 85%, #173e52 85%);
 }
 .paketDonusumBaslik2{
  width: 250px;
  margin: 0rem 1rem 0rem 1rem;
}
 .paketDonusumAciklama2{
  width: 250px;
  margin: 0rem 1rem 0rem 1rem;
}
.dijitalDonusum{
  height: 1100px;
  background-image: linear-gradient(#FFF 80%, #173e52 80%);
}
.gridTop{
  height: 1100px;
}
.absoluteDonusum{
  height: 1100px;
}


}

@media (min-width: 425px) {
  .donusumCard{
   overflow: hidden;
   height: 70%;
 }
 .gridDonusumPaketItem{
   height: 750px;
   background-image: linear-gradient(#FFF 75%, #173e52 75%);
 }
 .paketDonusumAciklama{
  width: auto;
  margin: 0rem 1rem 0rem 1rem;
}
.paketDonusumBaslik2{
  width: 300px;
  margin: 0rem 1rem 0rem 1rem;
}
 .paketDonusumAciklama2{
  width: 400px;
  margin: 0rem 1rem 0rem 1rem;
}
.dijitalDonusum{
  height: 900px;
  background-image: linear-gradient(#FFF 75%, #173e52 75%);
}
.gridTop{
  height: 900px;
}
.absoluteDonusum{
  height: 900px;
}
}


@media (min-width: 768px) {
  .donusumCard{
   overflow: hidden;
   height: 55%;
 }
 .gridDonusumPaketItem{
   height: 650px;
   background-image: linear-gradient(#FFF 73%, #173e52 73%);
 }
 .alignEnd{
  visibility: visible;
  }
  .paketDonusumAciklama{
    width: 400px;
    margin: 0rem 1rem 0rem 1rem;
  }
  .paketDonusumBaslik2{
    width: 450px;
    margin: 0rem 1rem 0rem 1rem;
  }
   .paketDonusumAciklama2{
    width: 550px;
    margin: 0rem 1rem 0rem 1rem;
  }
  .dijitalDonusum{
    height: 750px;
    background-image: linear-gradient(#FFF 75%, #173e52 75%);
  }
  .gridTop{
    height: 750px;
  }
  .absoluteDonusum{
    height: 780px;
  }
  .banner{
    height: 830px;
  }
 }


@media (min-width: 992px) {
  .donusumCard{
   overflow: hidden;
   height: 50%;
 }
 .paketDonusumAciklama2{
  width: 475px;
  margin: 0rem 1rem 0rem 1rem;
}
 .gridDonusumPaketItem{
   height: 550px;
 }
 .paketDonusumBaslik2{
  width: 700px;
  margin: 0rem 1rem 0rem 1rem;
}
.dijitalDonusum{

  height: 550px;
  background-image: linear-gradient(#FFF 73%, #173e52 73%);
}
.gridTop{
  height: 550px;
}
.absoluteDonusum{
  height: 550px;
}
.banner{
  height: 830px;
}
}



@media (min-width: 1200px) {
  .donusumCard{
   overflow: hidden;
   height: 55%;
 }
 .gridDonusumPaketItem{
   height: 650px;
 }
 .dijitalDonusum{

  height: 600px;
}
.absoluteDonusum{
  height: 600px;
}
.alignEnd2{
  height: 600px;
}
.paketDonusumBaslik2{
  margin-bottom: 5%;
}
.paketDonusumAciklama2{
  margin-bottom: 2rem;
}
}



@media (min-width: 1400px) {
  .donusumCard{
   overflow: hidden;
   height: 50%;
 }
 .gridDonusumPaketItem{
   height: 650px;
 }
 .paketDonusumAciklama2{
  width: 550px;
  margin: 0rem 1rem 0rem 1rem;
}
.dijitalDonusum{
  height: 550px;
}
.absoluteDonusum{
  height: 550px;
}
.alignEnd2{
  height: 550px;
}
.banner{
  height: 900px;
}
}

@media (min-width: 1600px) {
  .sliderMainRight{
    display: flex;
    align-items: flex-end;
    flex: 0 1 35%;
    padding: 0rem 0rem 0rem 0rem;
    overflow: hidden;
  }
  .banner{
    height: 900px;
  }
  .slider{
    height: 600px;
  }
  .donusumCard{
   overflow: hidden;
   height: 50%;
 }
 .gridDonusumPaketItem{
   height: 650px;
 }
 .dijitalDonusum{
  height: 675px;
}
.absoluteDonusum{
  height: 675px;
}
.alignEnd2{
  height: 675px;
}
 }
 

 @media (min-width: 1800px) {
  .donusumCard{
   overflow: hidden;
   height: 50%;
 }
 .gridDonusumPaketItem{
   height: 650px;
 }
 }

@media (min-width: 2000px) {
  .donusumCard{
   overflow: hidden;
   height: 50%;
 }
 .gridDonusumPaketItem{
   height: 650px;
 }
 .dijitalDonusum{
  height: 850px;
}
.absoluteDonusum{
  height: 850px;
}
.alignEnd2{
  height: 850px;
}
 }











